body {
    background-color: black;
}

td {
    height: 150px;
    width : 150px;
    border : 2px solid lightblue;
    text-align: center;
    font-size: 60px;
    color: yellow;

}
table {
    margin-left: 36.5%;
    margin-top: 5%;
}
h1 {
    color: white;
    margin-top: 2%;
    margin-bottom: 5%;
}

/* General styles for the table */
table {
  margin: auto;
  border-collapse: collapse;
  width: 90vmin;
  height: 90vmin;
  max-width: 300px;
  max-height: 300px;
  table-layout: fixed;
}

td {
  border: 2px solid #0d6bdf;
  text-align: center;
  vertical-align: middle;
  font-size: 2.5vmin;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 33.33%;
  height: 33.33%;
}

/* Hover effect */
td:hover {
  background-color: #ccccc2da;
}

/* Different text colors for X and O */
.X {
  color: red;
}

.O {
  color: rgba(40, 173, 13, 0.804);
}
